* {
  font-family: "Jetbrains Mono NerdFont";
}

#waybar {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

/* LEFT MODULES */
#clock {
  color: #ffffff;
}

#workspaces button {
  color: #737373;
  padding: 0px 4px;
  margin: 4px 0px;
  border-radius: 2px;
  background-color: transparent;
  transition: all 0.3s cubic-bezier(.4, 0, .2, 1);
}

#workspaces button.active {
  background-color: rgba(163, 160, 157, 1);
  color: rgba(0, 0, 0, 1);
  border-radius: 4px;
}

#tray {
  padding-left: 4px;
}

/* CENTER MODULES */
#window {
  color: #ffffff;
}

/* RIGHT MODULES */
#temperature,
#memory,
#cpu,
#pulseaudio,
#battery,
#custom-nightmode,
#custom-bluetooth,
#network,
#custom-powermenu {
  color: #ffffff;
  margin-right: 12px;
}
